h1 {
    font-size: 1.5rem;
    margin: 1rem 0;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
    margin: 0.5rem 0;
}

p {
    font-size: 1rem;
    margin: 0.25rem 0;
}

.img-container {
    width: 100%;
}

img {
    width: 100%;
    border-radius: 1rem;
}

.movie-details {
    margin: 2rem 20%;
}

span {
    font-weight: bold;
}